#v65-modalContentHeader{
	background: $grey-dark;
}

.content{
	background: $white;
	background: rgba($white,0.9);
	float: left;
	margin-left: 4%;
	padding: 2%;
	width: 68%;
}

	.pageContent{
		// @media screen and (max-width: 767px){
		// 	padding: 1em;
		// }
		
		// @media screen and (min-width: 768px){
		// 	padding: 3em;
		// }
	}

/* ----- a. Homepage Styles ----- */
@import 'content_home';

/* ----- b. Page Styles ----- */
@import 'content_page';

/* ----- c. Store Styles ----- */
@import 'content_store';