/* ----- a. Main Menu ----- */
.mainMenu{
	font:{
		family: $franchise;
		size: 18px;
	}
	padding: 10px;
	position: relative;
	z-index: 101;

	@media screen and (max-width: 767px){
		margin: 1em 0;
	}

	ul{
		list-style: none;
		margin: 0;
		padding: 0;
		position: relative;

		ul{
			border: 1px solid $grey-light;
			background: $white;
			display: none;
			left: 100%;
			position: absolute;
			top: 0;
			width: 180px;
		}
	}

	li{
		border-bottom: 1px solid $grey-light;
		padding: 0;
		position: relative;

		// @media screen and (max-width: 767px){
		// 	margin: 0 10px;
		// }

		// @media screen and (min-width: 768px) and (max-width: 819px){
		// 	margin: 0 0 0 35px;
		// }

		// @media screen and (min-width: 820px){
		// 	margin: 0 0 0 50px;
		// }

		// &:first-child{
		// 	margin-left: 0;
		// }

		// Drop Down
		&:hover ul{
			@media screen and (min-width: 768px){
				display: block;
			}
		}

		li{
			display: block;
			float: none;
			margin: 0;
			text-align: left;
			width: 180px;

			a{
				color: $grey;
				display: block;
				margin: 0;
				padding: 0 0 0 10px;
				text-align: left;
				text-transform: none;
				width: 170px;

				&:hover{
					color: $black;
					padding-left: 25px;
				}
			}
		}
	}

	a{
		color: $headerFontColor;
		display: block;
		height: 2.5em;
		line-height: 2.5em;
		margin: 0;
		padding: 0 15px;
		position: relative;
		text-decoration: none;
		-webkit-transition: padding 0.2s ease-in-out;
		-moz-transition: padding 0.2s ease-in-out;
		-ms-transition: padding 0.2s ease-in-out;
		-o-transition: padding 0.2s ease-in-out;
		transition: padding 0.2s ease-in-out;

		
		&:hover, &.hover{
			color: $headerFontColorHover;
			padding-left: 30px;
			text-decoration: none;
		}
	}

	.v65-pageAParent{
		color: $headerFontColorHover
	}

	.v65-home{
		@media screen and (max-width: 919px){
			display: none;
		}
	}

	.v65-selected{
		color: $headerFontColorHover;
		font-weight: bold;
	}

	.footerMenuLink{
		bottom: 0;
		font-size: 1.5em;
		position: absolute;
		right: 0;

		@media screen and (max-width: 450px){
			display: block;
		}

		@media screen and (min-width: 451px){
			display: none;
		}
	}
}

/* ----- b. Sub Menu ----- */
.subMenu{
	margin-bottom: 0;
	margin-top: 6%;

	@media screen and (min-width: 768px){
		border-right: 1px solid $grey-light;
		float: left;
		margin-right: 4%;
		padding-right: 2%;
		width: 17.5%;
	}

	h3{
		@media screen and (max-width: 767px){
			display: none;		
		}
	}

	ul{
		list-style: none;
		margin-bottom: 0;
		padding: 0;
	}

	li{
		line-height: 3;

		@media screen and (max-width: 767px){
			border-top: 1px solid $grey-light;
			line-height: 44px;
			text-align: center;
		}

		ul{
			margin-left: 10px;
		}
	}

	a{
		display: inline-block;
		line-height: 1.5;
		width: 100%;
	}

	.v65-pageAParent {
		color: $black;
	}

	.v65-leftSelected{
		color: $black;
		font-weight: bold;
	}

}