// Colors
$grey: #575757;
$grey-light: #ccc;
$grey-dark: #333;
$black: #000;
$white: #fff;
$offWhite: #f1f1f1;
$blue: #369;
$blue-light: #3b73ac;
$blue-dark: #2e5b87;
$offBlack: #111;

$backgroundColor: $black;
$headingFontColor: $grey-dark; // Default Heading Font Color
$headerFontColor: $grey-dark; //Font Color outside the container
$headerFontColorHover: $black; // Hover font color outside the container

$navLinkColor: $black; //Font Color for main navigation
$subNavLinkColor: $black; //Font Color for sub navigation

$homepageContentColor: $white; // Homepage content background color
$contentBackgroundColor: $white; //Content background color

$footerColor: $grey; //Footer Color
$footerLink: $grey-light; // Footer Link
$footerLinkHover: $white; // Footer Link Hover

$footerFontColor: $grey-dark; //Font Color outside the container
$footerFontColorHover: $black; // Hover font color outside the container

$logo: 'logo.jpg';
$logo-retina: 'logo@2x.jpg';

$franchise: "franchiseregular", sans-serif;

$georgia: Georgia, serif;
$lucida: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;

// Global Variables
$maxWidth: 990px;
$linkColor: $blue;

$fontColor: $offBlack;
$fontFamily: $lucida;

$headingFontFamily: $georgia;
$headingColor: $grey-dark;

$userToolsBackgroundColor: $black; //Background Color for usertools
$userToolsColor: $white; //Font Color for usertools
$userToolsLinkColor: $grey-light; //Font Color for usertools
$userToolsHoverColor: $white; //Font Color for usertools

$buttonFontColor: $white; // Default Color for Button Font
$altButtonFontColor: $white; // Alt Color for Buttons Font

@mixin gradient($color1, $color2){
	background-color: $color1;
	background-image: -webkit-linear-gradient(top, $color1, $color2);
	background-image: -moz-linear-gradient(top, $color1, $color2);
	background-image: -ms-linear-gradient(top, $color1, $color2);
	background-image: -o-linear-gradient(top, $color1, $color2);
	background-image: linear-gradient(top, $color1, $color2);
}

@mixin boxSizing{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.hideText{
	overflow:hidden;
	text-indent:100%;
	white-space:nowrap;
	
	a{
		display:block;
		height:100%;
	}
}