#v65-modalContentHeader{
	background: $grey-dark;
}

/* ----- b. Homepage Product Group ----- */

.homepageProductGroup .v65-productGroup-products{
	text-align: left;
	width: 100%;
}

	.homepageProductGroup .v65-productGroup-title{
		color: $headingFontColor;
		font-family: $headingFontFamily;
		font-size: 26px;
		line-height: 1.2;
		margin: 0.25em  0 0.5em;
	}

	.homepageProductGroup .v65-productGroup-teaser{
		float: none;
		margin: 0;
		width: 100%;
	}

	.homepageProductGroup .v65-productGroup-product{
		margin: 0 0 1em;
		width: 100%;
	}

		.homepageProductGroup .v65-product-photo{
			float: left;
			width: auto;
		}

		.homepageProductGroup .v65-productGroup-product .v65-product-addToCart-priceWrapper{
			display: inline;
		}

/* ----- c. Checkout Overrides ----- */

#v65-fieldset-paymentMethod{
	float:left;
	width:400px;
}

form#v65-checkBilling .v65-additionalComments {
	float:none;
	margin-left:10px;
	padding:15px 0 0;
	width:390px;
}

#v65-signUpClubSummaryWrapper {
	margin-bottom: 20px;
}

// d. Default SASS Product List
.v65-product2Up{

	.v65-product-title{
		a{

		}
	}
	.v65-product-photo{
		a{
			img{

			}
		}
	}
	.v65-product-teaser{
		p{

		}
	}
	.v65-product-drilldownLink{
		a{

		}
	}
	.v65-productreviewStats{

	}
	.v65-product-inventoryMessage{
		.v65-product-inventoryMessage-inStock{

		}
	}
	.v65-product-addToCart{
		.v65-addToCart{
			fieldset{
				legend{}
				.v65-product-addToCart-priceWrapper{
					.v65-product-addToCart-price{

					}
					.v65-product-addToCart-unitDescription{

					}
					.v65-product-addToCart-productSKU{

					}
				}
				.v65-product-addToCart-quantity{
					input{

					}
				}
				.v65-product-addToCart-button{
					button{
						span{

						}
					}
				}
			}
		}
		.v65-addToCartCase{

		}
	}
	.v65-product-socialBar{

	}
}

// e. Default SASS Product Drilldown
.v65-productWrapper{
	.v65-product-leftCol{
		.v65-product-photo{
			img{

			}
		}
		.v65-productDrilldown-specs{
			.v65-wine-specs{
				.v65-wine-specs-title{

				}
				.v65-product-attribute{
					.v65-product-attributeLabel{

					}
					.v65-product-attributeValue{

					}
				}
			}
		}
	}
	.v65-product-rightCol{
		h1{

		}
		.v65-product-teaser{
			p{

			}
		}
		.v65-product-availability{
			.v65-product-availability-inStock{

			}
		}
		.v65-product-addToCart{

			.v65-addToCart{

				fieldset{
					legend{}
					.v65-product-addToCart-priceWrapper{
						.v65-product-addToCart-price{

						}
						.v65-product-addToCart-unitDescription{
						}
						.v65-product-addToCart-productSKU{

						}
					}
					.v65-product-addToCart-quantity{
						input{

						}
					}
					.v65-product-addToCart-button{
						button{
							span{

							}
						}
					}
				}
			}
			.v65-addToCartCase{

			}
		}
		.v65-product-reviewStats{
			a{

			}
		}
		.v65-product-socialBar{

		}
		.v65-product-description{

		}
		.v65-product-reviews{
			.v65-product-reviews-title{

			}
		}
		.v65-ProductRating{

		}
	}
}


